---
layout: default
---

<div class="page">
  {% if page.url != site.baseurl %}
  <p>
  <a href="{{ site.baseurl }}/">&lt;&lt; Home</a> |
  <a href="https://github.com/syncthing/docs/blob/gh-pages/{{page.relative_path}}">Edit this page</a>
  </p>
  {% endif %}

  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}

  <hr />

  {% if page.url != site.baseurl %}
  <p>
  <a href="{{ site.baseurl }}/">&lt;&lt; Home</a> |
  <a href="https://github.com/syncthing/docs/blob/gh-pages/{{page.relative_path}}">Edit this page</a>
  </p>
  {% endif %}
</div>
